body {
    background-color: lightyellow;
}
table,th,tr,td {
    border:1px solid black;
    border-collapse:collapse;
    background-color: black;
    color:white;
    text-align:right
}
th {
    text-align: center;
    color:black;
    background-color:green
}
footer{
    position:absolute;
    bottom:0px;
    width:100%;
    text-align:center;
    font-weight:1px
}

